<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>設定画面</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/settingPage.css">
</head>

<body class="container mt-5">
	
	<h1>賞品・賞設定</h1>
	<img src="" alt="">
	<form id="uploadForm" enctype="multipart/form-data" class="mb-5">
		<div class="mb-3">
			<label>賞の名稱</label>
			<input type="text" name="prizeName" class="form-control" required>
		</div>
		<div class="mb-3">
			<label>賞品の數量</label>
			<input type="number" name="quantity" class="form-control" required>
		</div>
		<div class="mb-3">
			<label>賞品の写真</label>
			<input type="file" name="imagePath" class="form-control" accept="image/*" required>
		</div>
		 <button type="button" id="uploadBtn" class="btn btn-primary">アップロード</button>
	</form>

	<h3>賞と賞品の詳細</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>賞の名稱</th>
				<th>賞品の數量</th>
				<th>賞品の写真</th>
				<th>刪除</th>
			</tr>
		</thead>
		<tbody th:if="${prizes != null and !prizes.isEmpty()}">
			<tr th:each="prize : ${prizes}">
				<td th:text="${prize.name}"></td>
				<td th:text="${prize.quantity}"></td>
				<td><img th:src="@{${prize.imagePath}}" width="100" /></td>
				<td><button type="button" class="btn btn-primary" th:data-name="${prize.name}"
						th:onclick="deleteCompletely(this.getAttribute('data-name'), this);">削除</button></td>
			</tr>
		</tbody>
	</table>

	<button class="btn btn-primary" onclick="history.back()">抽選画面に戻す</button>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../js/settingPage.js"></script>

</body>

</html>


